@charset "UTF-8"; 
/* Modo de exibição para folh de papel*/

* {
  margin: 10px;
  padding: 10px;
}

html {
font-family: 'Courier New', Courier, monospace;
font-size: 1em;
}
header ul li {
  display: none;
}