@charset "UTF-8";

*{
margin: 0px;
padding: 0px;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.2;
}
header {
  background-color: burlywood;
  padding: 10px;
}

header > h1 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 10px;
}
header ul {
  display: flex;
  gap: 10px;
}
header li {
  list-style: none;
  background-color: rgb(161, 143, 119);
  padding: 10px;
}
header a {
  text-decoration: none;
  color: white;
}
article {
  width: 300px;
  display: block;
  margin: auto;
  text-align: justify;
 
}
article h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
}
article h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
